 .tootlbar {
     padding: 1px;
     margin:  2px;
     background-color: rgb(15, 170, 170);
     text-align: center;
 }

 .searchCol {
    margin:  2px;
    padding: 3px;
 }

 .search {
    padding: 2px;
    background-color: rgb(15, 170, 170);
 }

 .inputData{
     width: 180px;
 }